@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="conteudoBody">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Configurações <small>Cadastros</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
                <li class="active">
                    <i class="fa fa-cogs"></i> Configuracoes
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cadastros</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="~/CadastroUsuario/ListaUsuarios" class="list-group-item">Usuários</a>
                            <a href="#" class="list-group-item">Empresas</a>
                            <a href="#" class="list-group-item">proximo cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Configurações</h3>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Configuração de processos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>