<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sistema desenvolvido para estudo" />
        <meta name="author" content="celraul company" />
        <title>@ViewBag.Title - Pagina de Erro</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Custom/css")

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    </head>
    <body>
        @RenderBody()
    </body>

</html>


