@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Porto Alegre RS <br />
    Brasil<br />
    <abbr title="Phone">P:</abbr>
    (051)999111798
</address>

<address>
    <strong>Support:</strong> <a href="mailto:celraul17@gmail.com">celraul17@gmail.com</a><br />
    <strong>Site:</strong> www.celraul.com.br<br />
</address>